:root {
    --app-primary: #474aff;
    --app-dark-background: rgba(13, 13, 15, 1);
    --app-dark-background-lighter: rgba(23, 23, 25, 1);
    --element-btn-hover: #3d3fe2;
}

*::selection {
    background: var(--app-primary);
}

body {
    background: var(--app-dark-background);
    color: white;
}

li,
p,
span,
strong {
    color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white !important;
}

h1 {
    width: 100%;
}


/*
    ===============================
*/

.pad-center-1_2 {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}

.pad-center-2_5 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.pad-full-1_2 {
    padding: 1.2rem !important;
}

.pad-full-2_5 {
    padding: 2.5rem !important;
}

.pad-right-16px {
    padding-right: 16px;
}

.ml-25px {
    margin-left: 25px !important;
}

.ml-50px {
    margin-left: 50px !important;
}

.ml-25px {
    margin-right: 25px !important;
}

.mr-50px {
    margin-right: 50px !important;
}

.mt-25px {
    margin-top: 25px !important;
}

.mt-50px {
    margin-top: 50px !important;
}

.mt-125px {
    margin-top: 112px !important;
}

.mt-112px {
    margin-top: 112px !important;
}

.mt-224px {
    margin-top: 224px !important;
}

.mb-25px {
    margin-bottom: 25px !important;
}

.mb-50px {
    margin-bottom: 50px !important;
}

.mb-125px {
    margin-bottom: 224px !important;
}

.mb-112px {
    margin-bottom: 112px !important;
}

.mb-224px {
    margin-bottom: 224px !important;
}

.wd-full {
    width: 80% !important;
}

.wd-content {
    padding: .2em 7rem;
}

.container-xl {
    max-width: 1280px;
    width: 80% !important;
}

.container-l {
    width: 40% !important;
    max-width: 824px;
}

.container-m {
    width: 35% !important;
    max-width: 512px;
}

@media screen and (max-width: 500px) {
    .wd-full,
    .container-l,
    .container-m,
    .container-xl {
        width: 100% !important;
        max-width: 100vw;
        margin-bottom: 5px;
    }
}

.wd-1-3rd {
    width: 33.33333%;
}

.wd-1-half {
    width: 50%;
}

.text {
    word-wrap: break-word;
}

@media screen and (max-width: 800px) {
    .container-m {
        width: 100% !important;
        max-width: 512px;
    }
}

.heading {
    width: 100%;
    font-weight: 550;
    border-bottom: 2px solid var(--app-dark-background-lighter);
}

@media screen and (min-width: 601px) {
    .title {
        font-size: 60px !important;
    }
    .heading {
        font-size: 30px !important;
    }
    .text {
        font-size: 25px !important;
    }
    .text.small {
        font-size: 20px !important;
    }
    .text.smallest {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 30px !important;
    }
    .heading {
        font-size: 20px !important;
    }
    .text {
        font-size: 15px !important;
    }
    .text.small {
        font-size: 15px !important;
    }
    .text.smallest {
        font-size: 10px !important;
    }
}

.mar-lr-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.text-center {
    text-align: center !important;
}


/* Hover */

.onhover {
    transition: transform 0.25s, box-shadow 0.2s, border 0.2s !important;
}

.onhover.translate:hover {
    transform: translate(0, -5px);
}

.onhover.scale:hover {
    transform: scale(1.05);
}

.onhover.shadow:hover {
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0.5px 9px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 9px 0 rgba(0, 0, 0, 0.13);
}


/* Select */

.select.active {
    border: 1px solid white;
    border-left: 5px solid var(--app-primary);
}

.select {
    border: 1px solid white;
    background: white !important;
}

.onhover.select:hover {
    border-left: 5px solid var(--app-primary);
}


/* Display */

.grid {
    display: grid !important;
}

.grid.grid-place-center {
    place-items: center;
}

.flex {
    display: flex !important;
}

.flex.flex-just-center {
    justify-content: center !important;
}

.flex.flex-just-self-left {
    justify-self: left !important;
}

.flex.flex-wrap {
    flex-wrap: wrap !important;
}

.flex.flex-row {
    flex-direction: row !important;
}

.flex.flex-just-between {
    justify-content: space-between !important;
}

.flex.flex-column {
    flex-direction: column !important;
}

@media screen and (max-width: 800px) {
    .flex.flex-undo {
        display: block !important;
    }
}

.sticky {
    display: sticky;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.box-shadow {
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0.5px 9px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 9px 0 rgba(0, 0, 0, 0.13);
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.4);
}


/* Text */

h1,
h2 {
    font-weight: 400 !important;
}

h2:not(.no-mt) {
    font-size: 24px;
    margin-top: 40px;
}

h1 {
    display: inline-block !important;
    font-size: 2em !important;
    color: #f7f7f7 !important;
    font-weight: 600 !important;
}

p.bigger,
span.bigger {
    font-size: 1.25em;
    max-width: 42em;
    line-height: 28px;
    margin: 1em auto;
}

h1.border {
    border-bottom: 1px solid lightgray;
}

h2.border {
    border-bottom: 1px solid lightgray;
}


/* Nav */

nav {
    background: var(--app-dark-background) !important;
    border-bottom: 1px solid var(--app-dark-background-lighter);
}

nav a {
    padding: 10px 16px;
    color: white;
}


/* Buttons */

.btn {
    color: white;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: none;
    margin: 0;
    padding: .6em 3.2em;
    border-color: var(--app-primary);
    transition: all 0.15s;
    outline: none;
    border-radius: .2em;
    border: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    outline: 1px solid var(--app-primary);
}

.btn.btn__filled {
    background: var(--app-primary);
    color: white;
}

.btn.btn__filled:hover {
    background: var(--element-btn-hover);
    color: white;
}

.btn:hover {
    background: var(--app-primary);
    color: white;
}

.btn:active {
    transform: scale(0.97);
}